HACKATIME_CLIENT_ID=
HACKATIME_CLIENT_SECRET=
HACKATIME_REDIRECT_URI=http://localhost:3000/auth/callback

HACKCLUB_CLIENT_ID=
HACKCLUB_CLIENT_SECRET=
HACKCLUB_REDIRECT_URI=http://localhost:3000/auth/hackclub/callback

AIRTABLE_FORM_URL=https://airtable.com/appNfwaZpvWawrghR/pagDYA0Hbudqesm9g/form

SESSION_SECRET=change-me-to-something-random
MIN_HOURS_REQUIRED=2
PORT=3000
